<div class="page-header">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="title">
          <h4>Analytics</h4>
        </div>
        <nav aria-label="breadcrumb" role="navigation" style="
        background-color: #ffffff;
    ">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Analytics</li>
          </ol>
        </nav>
      </div>
      <div class="col-md-6 col-sm-12 text-right">
        


        <div class="dropdown">
          <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
            Action
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#">Import</a>
            <a class="dropdown-item" href="#">Export</a>
            <a class="dropdown-item" a href="#" data-toggle="modal" data-target="#squarespaceModal">Create contact</a>
          </div>
        </div>

      </div>
    </div>
  </div>