<div class="row">
    <div class="col-xl-4 col-sm-6 mb-3">
      <div class="card   o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <h6>Conversions</h6>
          </div>
          <div class="mr-5">4,245</div>
        </div>
        <a class="card-footer  clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
      <div class="card  o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <h6>Impressions</h6>
          </div>
          <div class="mr-5">46,178</div>
        </div>
        <a class="card-footer  clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </span>
        </a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
      <div class="card  o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <h6>Visits</h6>
          </div>
          <div class="mr-5">71,743 Visits</div>
        </div>
        <a class="card-footer clearfix small z-1" href="#">
          <span class="float-left">View Details</span>
          <span class="float-right">
            <fa-icon [icon]="faAngleRight"></fa-icon>
          </span>
        </a>
      </div>
    </div>
  </div>