/* table datatable start */

.card-box,.da-card {
    background-color:#fff;
    border-radius:10px;
    -webkit-box-shadow:0 0 28px rgba(0,0,0,.08);
    box-shadow:0 0 28px rgba(0,0,0,.08)
}

.pd-20 {
    padding:20px
}

.text-blue {
    color: #1b00ff;
}
.h4, .h5, .page-header h4 {
    font-size: 20px;
    line-height: 1.35;
    color: #1b3133;
    font-family: 'Inter',sans-serif;
}
.h3, .h4 {
    font-weight: 700;
}

.pb-20 {
    padding-bottom: 20px;
}

.dataTables_length,
.dt-buttons,
div.dataTables_wrapper div.dataTables_filter
,div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    padding-left:15px;
    padding-right:15px
}

table.dataTable>tbody>tr.child ul.dtr-details .dtr-title {
    display:block}


.bootstrap-select .dropdown-toggle:focus {
    outline:0!important
}

.bootstrap-select .dropdown-header {
    color:#222;
    font-weight:700;
    font-size:15px
}

.bootstrap-select .dropdown-menu li .dropdown-item:hover {
    color:#1b00ff
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    top:13px
}

.bootstrap-select .bs-ok-default:after {
    border-width:0 2px 2px 0
}

.dropup .dropdown-toggle::after {
    content:"\f107";
    font-family:"FontAwesome";
    vertical-align:unset;
    width:auto;
    height:auto;
    border:0!important
}
.bootstrap-select.btn-group .dropdown-menu li a {
    display:block;
    font-size:15px;
    font-weight:400;
    padding:.55rem 1rem;
    color:#667f87;
    font-family:'Inter',sans-serif;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}

.bootstrap-select.btn-group .dropdown-menu li.divider {
    border:1px solid #eaeaea
}

.bootstrap-select.btn-group .dropdown-menu li.selected a {
    background:#e1e1f5;
    color:#131e22
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    color:#cecece
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    background:#e1e1f5;
    color:#131e22
}
/*
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    background:url(../images/check-mark-green.png);
    width:15px;
    height:15px;
    background-size:contain
}
*/
.label-info {
    background-color:#009efb
}

.bootstrap-tagsinput .tag {
    display:inline-block;
    padding:2px 6px;
    margin:2px;
    font-size:15px;
    border-radius:2px
}

.docs-options .dropdown-menu {
    max-height:250px;
    overflow:auto
}

.docs-buttons {
    padding-top:15px
}

.docs-buttons label,.notification-list ul li a p,.project-info-right p {
    margin-bottom:0
}

.docs-buttons .btn {
    margin-bottom:5px
}

.table thead th {
    font-weight:600;
    font-size:15px;
    border-bottom:0;
    padding-left:1rem
}

.table td,.table th {
    vertical-align:middle
}

.table td {
    font-size:14px;
    font-weight:500;
    padding:1rem
}

.table-striped tbody tr:nth-of-type(odd) {
    background:#eaeef2
}

table.dataTable.display tbody tr.odd,
table.dataTable.display tbody tr:hover,
table.dataTable.hover tbody tr:hover,
table.dataTable.stripe tbody tr.odd {
    background:#ecf0f3!important
}

table.dataTable tbody tr.selected,
table.dataTable.display tbody tr:hover.selected,
table.dataTable.hover tbody tr:hover.selected {
    background-color:#181f48!important;
    color:#fff
}

table.dataTable.display tbody tr.odd.selected,
table.dataTable.stripe tbody tr.odd.selected {
    background-color:#1b00ff!important
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    font-family:"dropways";
    font-size:14px
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:before {
    content:""
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    content:"";
    right:.2em
}

.blog-list ul li:hover .blog-caption h4 a,
.fontawesome-icon-list .fa-hover:hover a,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:after {
    color:#1b00ff
}

table.dataTable>tbody>tr.child ul.dtr-details {
    white-space:normal
}

.dataTables_length,
.dt-buttons,
div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper div.dataTables_info,
div.dataTables_wrapper div.dataTables_paginate {
    padding-left:15px;
    padding-right:15px
}

.dt-checkbox,
.dt-checkbox input {
    width:20px;
    height:20px;
    position:relative
}

.dt-checkbox input {
    position:absolute;
    opacity:0;
    z-index:1;
    left:0;
    top:0
}

.dt-checkbox span,
.dt-checkbox span:before {
    width:20px;
    height:20px;
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}

.dt-checkbox span {
    position:relative;
    display:block;
    border:1px solid #9e9e9e;
    border-radius:4px
}
/*
.dt-checkbox span:before {
    content:"";
    background:url(../images/check-mark.png) no-repeat;
    position:absolute;
    left:0;
    top:-1px;
    background-size:12px 12px;
    background-position:center center;
    -webkit-transform:scale(0);
    transform:scale(0)
}*/

.dt-checkbox input:checked~span {
    background:#1b00ff;
    border-color:#1b00ff;
    color:#fff
}

.dt-checkbox input:checked~span:before {
    -webkit-transform:scale(1);
    transform:scale(1)
}

.plyr {
    border-radius:10px;
    -webkit-box-shadow:0 0 10px 2px rgba(0,0,0,.15);
    box-shadow:0 0 10px 2px rgba(0,0,0,.15)
}

.popover-header {
    font-weight:500
}

.list-group-flush .list-group-item {
    border-top:0;
    margin-bottom:0
}

.docs-cropped .modal-body>canvas,
.docs-cropped .modal-body>img,
.img-preview>img {
    max-width:100%
}

.apexcharts-svg * {
    font-family:'Inter',sans-serif!important
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th:first-child:before {
    -webkit-box-shadow:none;
    box-shadow:none;
    border:0;
    border-radius:0;
    font-family:"FontAwesome";
    background:0 0;
    font-weight: 900;
    content:"\f107";
    color:#444;
    font-size:23px;
    left:7px;
    top:50%;
    margin-top:1px
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content:"\f106";
    background:0 0
}

/* table datatable end */

/* wrapper start */

.breadcrumb {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: .25rem;
}
  
  .breadcrumb-item + .breadcrumb-item {
    padding-left: .5rem;
}
  
  .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}
  
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: underline;
}
  
  .breadcrumb-item + .breadcrumb-item:hover::before {
    text-decoration: none;
}
  
  .breadcrumb-item.active {
    color: #6c757d;
}

.main-container {
    padding:0px 20px 2px 300px
}

@media (min-width:1301px) and (max-width:1400px) {
    .main-container {
        padding-left:270px
    }
}

@media (max-width:1300px) {
    .main-container {
        padding-left:0;
        padding-right:0
    }

    .mobile-menu-overlay {
        display:block;
        opacity:0;
        visibility:hidden
    }
    
    .mobile-menu-overlay.show {
        opacity:.6;
        visibility:visible
    }
}

@media (max-width:1024px) {
    .main-container {
        padding-top:0px
    }
}

@media (max-width:767px) {

    .main-container {
        padding-top:0px
    }

    .main-container,
    .timeline ul li {
        padding-bottom:0
    }
}

.chat-box .chat-desc ul,.pd-ltr-20 {
    padding:0px 10px 0
}

.min-height-200px {
    min-height:200px
}

.mobile-menu-overlay,
.sidebar-menu .submenu li a,
.sidebar-menu .submenu li>a:before {
    -webkit-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}

.mobile-menu-overlay {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#121421;
    opacity:.6;
    z-index:123;
    background-size:20px;
    background-position:98% 15px;
    display:none
}


/* wrapper end */


.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #0b0e10;
    }
  
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6; }
  
  .table-sm td, .table-sm th {
    padding: .3rem; }